.default {
  height: 100vh;
  width: 100vw;

  video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    transition: 1s opacity;
  }
}

.logo {
  width: 100%;
  background: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,0.4));
  text-align: left;
  padding: 1rem 0 2.5rem 1rem;

  img {
    width: 100px;
  }
}


.metadata {
  position: fixed;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.4));
  bottom: 0;
  right: 0;
  padding: 2.5rem 1rem 1rem 0;
  text-align: right;

  p {
    color: white;
    margin: 0;

    span {
      font-weight: bold;
    }
  }


}
